#!/bin/bash
podman run \
    --rm \
    -it \
    --privileged \
    --pull=newer \
    --security-opt label=type:unconfined_t \
    -v /root/bootcblade.config.toml:/config.toml \
    -v /root/bootcblade-output:/output \
    -v /var/lib/containers/storage:/var/lib/containers/storage \
    quay.io/centos-bootc/bootc-image-builder:latest \
    --type anaconda-iso \
    --rootfs xfs \
    --local \
    localhost/bootcblade:latest
