[Unit]
Description=BootcBlade rebuild service

[Service]
ExecStart=/usr/bin/podman build -t localhost/bootcblade -f /root/bootcblade.containerfile
ExecStartPost=/usr/bin/bash -c "/usr/bin/sleep 10 ; /usr/bin/bootc update && /usr/bin/podman image prune -f"
