#!/bin/bash
podman run --rm --privileged \
        --pid=host --security-opt label=type:unconfined_t \
        --volume /dev:/dev \
        --volume /var/lib/containers:/var/lib/containers \
        --volume /:/target \
        --entrypoint bootc \
        localhost/bootcblade:latest \
        install to-filesystem --skip-fetch-check --replace=alongside /target \
	--root-ssh-authorized-keys /target/root/.ssh/authorized_keys \
        --target-transport=containers-storage {{ '' if bootc_acknowledge is false else '--acknowledge-destructive' }}
